@model Pie

<h5 class="my-5">@Model.Name</h5>

<div class="row gx-5">
    <img akt="@Model.Name" src="@Model.ImageUrl" class="img-fluid col-5" />

    <div class="col-7">
        <h4> @Model.ShortDescription</h4>
        <p> @Model.LongDescription</p>
        <h3 class="pull-right">@Model.Price.ToString("c")</h3>
        <div class="addToCart">
            <p class="button">
                <h4 class="d-grid">
                    <a class="btn btn-secondary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pieId="@Model.PieId">Add To Cart</a>
                </h4>
            </p>
        </div>
    </div>
</div>